<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>گراف دانش</title>

    {% load static %}
    <script type="text/javascript" src="{% static 'js/vis-network.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/vis-network.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/ball-spin.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>

    <div id="space"></div>
    <div id="div_search">
        <input type="text" id="search" autocomplete="false" placeholder="جمله خود را وارد نمایید" spellcheck="false" readonly onfocus="this.removeAttribute('readonly');">
        <label for="search"></label>
    </div>
    <div id="my_network"></div>
    <div id="space"></div>

    <div id="spinner" class="la-ball-spin la-2x">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <script type="text/javascript">
        let spinner = document.getElementById("spinner");
        let container = document.getElementById('my_network');
        spinner.style.display = "none";

        let isSearch = false;
        document.getElementById("search")
            .addEventListener("keyup", function(event) {
            event.preventDefault();
            if (event.key === "Enter") {
                event.preventDefault();
                search();
            }
        });

        function search() {
            if (!isSearch) {
                let text = document.getElementById("search").value;
                let csrfToken = '{{ csrf_token }}';
                let xhr = new XMLHttpRequest();
                xhr.open("POST", "/text/", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader('X-CSRFToken', csrfToken);
                xhr.onreadystatechange = function() {
                    if (this.readyState === 4 && this.status === 200) {
                        spinner.style.display = "none";
                        isSearch = false;
                        let data = JSON.parse(this.responseText);
                        createGraph(data)
                    }
                };
                xhr.send(JSON.stringify({
                    text: text
                }));
                isSearch = true;
                spinner.style.display = "block";
                container.innerHTML = "";
            }
        }

        function convertLabels(labels) {
            if (labels.length === 1)
                return labels[0];
            let retString = "{";
            for (let index in labels) {
                retString += labels[index] + ", ";
            }
            retString = retString.slice(0, retString.length - 2);
            return retString + "}";
        }

        function createGraph(data) {
            let nodes = [];
            let edges = [];

            // create an array with nodes
            for (let index in data.relations.nodes) {
                nodes.push({id: data.relations.nodes[index].id,
                    label: data.relations.nodes[index].label,
                    shape: 'box'});
            }

            // create an array with edges
            for (let index in data.relations.edges) {
                edges.push({id: data.relations.edges[index].id,
                    to: data.relations.edges[index].to,
                    from: data.relations.edges[index].from,
                    label: convertLabels(data.relations.edges[index].labels),
                    arrows: 'to'});
            }

            // create a network
            let graphData = {
                nodes: nodes,
                edges: edges
            };
            let options = {
                layout: {
                    randomSeed: 2
                },
                physics: {
                    enabled: true,
                    barnesHut: {
                        gravitationalConstant: -2000,
                        centralGravity: 0.3,
                        springLength: 300,
                        springConstant: 0.04,
                        damping: 0.09,
                        avoidOverlap: 0
                    },
                },
                interaction: {
                    dragNodes: false,
                    dragView: false
                },
                nodes: {
                    borderWidth:1,
                    size:80,
                    color: {
                        border: '#ffffff',
                        background: '#ba7a7a',
                        highlight: {
                            border: '#ffffff',
                            background: '#ba4444'
,                        }
                    },
                        font: {
                        face: "BKoodakBold",
                        size: 16,
                        color:'#ffffff'
                    }
                },
                edges: {
                    scaling: {
                        customScalingFunction: function (min,max,total,value) {
                            return value/total;
                        },
                        min:1,
                        max:200
                    },
                    font: {
                        color: '#ffffff',
                        size: 16,
                        face: 'BKoodakBold',
                        strokeWidth: 0,
                    },
                }
            };

            let network = new vis.Network(container, graphData, options);
    
            network.on("click", function (params) {
                params.event = "[original event]";
            });
        }
    </script>
</body>
</html>